<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 offset-sm-3 mt-5">
                <form class="form-horizontal pt-5 pb-5" [formGroup]="forgotPasswordForm" (ngSubmit)="sendPasswordEmail()">
                    <div class="form-group row">
                        <label for="email" class="label-control col-sm-3">Email:</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" [ngClass]="{'error': submitted && f.email.errors}" placeholder="Enter your email..." formControlName="email">
                        </div>                        
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3 offset-sm-4">
                            <button class="btn btn-primary btn-md">SEND</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>